.aboutContainer {
  width: 100%;
  padding: 61px 24px;
}

.sectionTitle{
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 23px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.content li {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 24px;
  transition: all .4s ease-in;
}

.content li img {
  width: 60px;
}

.content li h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 2px;
}

.content li p {
  font-family: inherit;
  font-weight: 300;
  line-height: 25px;
}

.content li:hover {
  background: var(--gradient-2-bg);
}

@media (min-width:760px) {
  .content {
    background: rgba(13, 13, 13, 40%);
    border-radius: 10px;
    margin: 0 24px;
    padding: 35px 53px;
    gap: 20px;
  }

  .sectionTitle {
    margin-bottom: 10px;
  }

  .content li {
    padding: 20px;
  }

  .content li h4 {
    font-size: 24px;
  }

  .content li p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .content {
    margin: 0 auto;
    width: 80%;
  }
}